[content-view] {
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
}

.m-menu__item.m-menu__item--active a {
  pointer-events: none;
}

body.hide {
  display: none;
}

table.table-bordered.dataTable th {
  font-weight: 600;
  font-size: 15px;
  padding-right: 35px;
  background-color: #f4f3f8;
  padding-bottom: 15px;
  padding-top: 15px;
}

.table-striped tbody tr:nth-of-type(even) {
  background-color: #f4f5f8;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: #fcfdfd;
}

.table-hover tbody tr:hover {
  background-color: #f7f8fa;
}

table.table-bordered.dataTable,
table.table-bordered.dataTable tbody td {
  border: 0;
}

table.table-bordered.dataTable tbody td {
  font-size: 14px;
  font-weight: 500;
  padding-top: 15px;
  padding-bottom: 15px;
}

.m-error-6 .m-error_container .m-error_subtitle > h1 {
  font-size: 7rem;
  margin-top: 1rem;
}

.m-error-6 .m-error_container {
  text-align: justify;
}

.m-error-6 .m-error_container a button {
  font-size: 2em;
  padding: 0.8em;
  margin-top: 2em;
}

.m-brand__logo-wrapper img {
  max-height: 43px;
  width: auto;
}

@media (min-width: 1200px) {
  .modal-xl {
    max-width: 1200px;
  }
}

.r-pill {
  border: 0;
  padding: 0;
  margin: 0;
}

.r-pill legend {
  display: block;
  font-size: inherit;
  font-weight: bold;
  margin-bottom: .5em;
  padding: 0;
  width: 100%;
}

.r-pill__group {
  display: inline-block;
  padding: .25em;
}

.r-pill__item {
  display: inline-block;
  position: relative;
}

.r-pill input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: none;
  border: 2px solid;
  height: 100%;
  left: 0;
  opacity: .00001;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;
}

.r-pill__item label {
  border-radius: 0.3em;
  border: 2px solid transparent;
  color: #333333;
  display: block;
  padding: .25em .50em;
}

.r-pill__item.r-pill--brand input:hover ~ label,
.r-pill__item.r-pill--brand label:hover {
  background: #d35b5c;
}

.r-pill[disabled] .r-pill__item.r-pill--brand input:checked + label:hover,
.r-pill__item.r-pill--brand input:checked + label {
  background: #9e2a2b;
  color: #fff;
}

.r-pill__item.r-pill--metal input:hover ~ label,
.r-pill__item.r-pill--metal label:hover {
  background: white;
}

.r-pill[disabled] .r-pill__item.r-pill--metal input:checked + label:hover,
.r-pill__item.r-pill--metal input:checked + label {
  background: #c4c5d6;
  color: #fff;
}

.r-pill__item.r-pill--light input:hover ~ label,
.r-pill__item.r-pill--light label:hover {
  background: white;
}

.r-pill[disabled] .r-pill__item.r-pill--light input:checked + label:hover,
.r-pill__item.r-pill--light input:checked + label {
  background: #ffffff;
  color: #fff;
}

.r-pill__item.r-pill--accent input:hover ~ label,
.r-pill__item.r-pill--accent label:hover {
  background: #43ebff;
}

.r-pill[disabled] .r-pill__item.r-pill--accent input:checked + label:hover,
.r-pill__item.r-pill--accent input:checked + label {
  background: #00c5dc;
  color: #fff;
}

.r-pill__item.r-pill--focus input:hover ~ label,
.r-pill__item.r-pill--focus label:hover {
  background: #c377f9;
}

.r-pill[disabled] .r-pill__item.r-pill--focus input:checked + label:hover,
.r-pill__item.r-pill--focus input:checked + label {
  background: #9816f4;
  color: #fff;
}

.r-pill__item.r-pill--primary input:hover ~ label,
.r-pill__item.r-pill--primary label:hover {
  background: #adb4ee;
}

.r-pill[disabled] .r-pill__item.r-pill--primary input:checked + label:hover,
.r-pill__item.r-pill--primary input:checked + label {
  background: #5867dd;
  color: #fff;
}

.r-pill__item.r-pill--success input:hover ~ label,
.r-pill__item.r-pill--success label:hover {
  background: #7ddcc9;
}

.r-pill[disabled] .r-pill__item.r-pill--success input:checked + label:hover,
.r-pill__item.r-pill--success input:checked + label {
  background: #34bfa3;
  color: #fff;
}

.r-pill__item.r-pill--info input:hover ~ label,
.r-pill__item.r-pill--info label:hover {
  background: #98d0fb;
}

.r-pill[disabled] .r-pill__item.r-pill--info input:checked + label:hover,
.r-pill__item.r-pill--info input:checked + label {
  background: #36a3f7;
  color: #fff;
}

.r-pill__item.r-pill--warning input:hover ~ label,
.r-pill__item.r-pill--warning label:hover {
  background: #ffd988;
}

.r-pill[disabled] .r-pill__item.r-pill--warning input:checked + label:hover,
.r-pill__item.r-pill--warning input:checked + label {
  background: #ffb822;
  color: #fff;
}

.r-pill__item.r-pill--danger input:hover ~ label,
.r-pill__item.r-pill--danger label:hover {
  background: #fab1bd;
}

.r-pill[disabled] .r-pill__item.r-pill--danger input:checked + label:hover,
.r-pill__item.r-pill--danger input:checked + label {
  background: #f4516c;
  color: #fff;
}

/**
 * Disabled
 */

.r-pill[disabled],
.r-pill__item input[disabled] + label {
  opacity: .5;
}

.r-pill__item input[disabled] ~ label,
.r-pill__item input[disabled] ~ label:hover,
.r-pill[disabled] label:hover {
  background: transparent;
  border-color: transparent;
  cursor: not-allowed;
}

/**
 * Undo styling that makes these pills appear as
 * if they are all checked in high contrast mode.
 */

@media screen and (-ms-high-contrast: active) {
  .r-pill__item label {
    border: 0;
    margin: 2px;
  }

  .r-pill__item input:checked + label {
    border: 2px solid;
    margin: 0;
  }

  .r-pill__item input:hover ~ label,
  .r-pill__item label:hover {
    text-decoration: underline;
  }

  .r-pill[disabled] .r-pill__item label:hover,
  .r-pill[disabled] .r-pill__item input:hover ~ label {
    text-decoration: none;
  }
}

